[submodule "deps/eigen3"]
	path = deps/eigen3
	url = https://github.com/eigenteam/eigen-git-mirror.git
	branch = branches/3.3
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
	branch = develop
[submodule "utest"]
	path = deps/utest
	url = https://github.com/accosmin/utest.git
	branch = master
[submodule "deps/cmake"]
	path = deps/cmake
	url = https://github.com/accosmin/cmake.git
	branch = master
