sudo: required
dist: xenial
language: cpp

branches:
  only:
    - 0.3

matrix:
  include:
#    - compiler: gcc
#      addons:
#        apt:
#          sources:
#            - ubuntu-toolchain-r-test
#          packages:
#            - g++-4.9
#      env: COMPILER=g++-4.9
#    - compiler: gcc
#      addons:
#        apt:
#          sources:
#            - ubuntu-toolchain-r-test
#          packages:
#            - g++-5
#      env: COMPILER=g++-5
#    - compiler: gcc
#      addons:
#        apt:
#          sources:
#            - ubuntu-toolchain-r-test
#          packages:
#            - g++-6
#      env: COMPILER=g++-6
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.6
          packages:
            - clang-3.6
      env: COMPILER=clang++-3.6
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.7
          packages:
            - clang-3.7
      env: COMPILER=clang++-3.7
    - os: osx
      osx_image: xcode7.2
    - os: osx
      osx_image: xcode8

install:
  - echo $TRAVIS_OS_NAME
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update; brew install cmake ninja eigen devil libarchive; brew link libarchive --force; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get update -qq && sudo apt-get install -y cmake cmake-data ninja-build libbz2-dev libdevil-dev libeigen3-dev libarchive-dev && export CXX="$COMPILER"; fi
  - mkdir build

before_script:
  - pwd

script:
  - time bash build.sh --build-type Release --generator ninja --float
  - ./build-release/apps/info --system
  - cd build-release/test && time ctest -j 3 -E "test_mnist|test_cifar10|test_cifar100|test_svhn|test_stl10"
  - cd ../../
  - ./build-release/apps/info --system
  - time bash build.sh --build-type Release --generator ninja --double
  - cd build-release/test && time ctest -j 3 -E "test_mnist|test_cifar10|test_cifar100|test_svhn|test_stl10"
